@import url('https://fonts.googleapis.com/css2?family=Wellfleet&display=swap');

body {
    font-family: "Wellfleet", sans-serif;
}



.send {
    background-color: white;
    height: 2.5em;
    border: none;
    cursor: pointer;
}


.formulaire {
    vertical-align: middle;
}

.offline {
    color: #980000;
    font-weight: bold;
}

.online {
    color: #38761D;
    font-weight: bold;
}

td.atis {
    background-color: #B6D7A8;
    width: 2em;
    text-align: center;
}

.info {
    border: 0.1em solid black;
    text-align: left;
}



table {
    border-collapse: collapse;
}

th {
    background-color: #4285F4;
}

.update {
    background-color: #B6D7A8;
    border: 0.1em solid black;

}

.debug {
    color: red;
    text-decoration: none;
}

a {
    text-decoration: none;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

li.menu {
    display: inline;
    margin-right: 20px;
}

.revision {
    font-size: 7em;
    /* align-items: center; */
}


@media screen and (max-width: 750px) {
    ul.menu {
        flex-direction: column;
        align-items: center;
    }

    li.menu {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .img_information {
        display: none;
    }

    table.info {
        width: 70%;
    }

    .big_screan {
        display: none;
    }

    .update {
        margin-top: 1em;
        width: 90%;
        text-align: center;
    }

    table.info {
        width: 90%;
    }
table{
    margin: auto;
}
    th {
        width: 40%;
    }

    .small_screan {
        margin-left: auto;
        margin-right: auto;
    }

    .atis {
        margin-left: auto;
        margin-right: auto;
    }
    .revision {
        font-size: 7em;
        text-align: center;
    }
}

@media screen and (min-width: 750px) {
    ul.menu {
        flex-direction: row;
        align-items: center;
    }

    li.menu {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .img_information {
        cursor: help;
        margin-right: 3em;
        height: 1.5em;
    }

    .update {
        padding-right: 1em;
        padding-left: 1em;

    }

    .small_screan {
        display: none;
    }

    .online {
        padding-right: 3em;
    }

    .offline {
        padding-right: 3em;

    }

    table.info {
        width: 70%;
    }



}