@import url('https://fonts.googleapis.com/css2?family=Wellfleet&display=swap');

body {
    font-family: "Wellfleet", sans-serif;
}

.information {
    background-color: white;
    border: none;
}


.img_information {
    cursor: help;
    margin-right: 2em;
    height: 1.5em;


}


.send {
    background-color: white;
    height: 2.5em;
    border: none;
}

.send :hover {
    cursor: pointer;
}

.formulaire {
    vertical-align: middle;
}

.offline {
    color: #980000;
    font-weight: bold;
    padding-left: 3em;
    padding-right: 3em;



}

.online {
    color: #38761D;
    font-weight: bold;
    padding-left: 3em;
    padding-right: 3em;
}

.atis {
    background-color: #B6D7A8;
    width: 2em;
    text-align: center;
}

.info {
    border: 0.1em solid black;
    text-align: left;
}

table.info {
    width: 50em;
}

table {
    border-collapse: collapse;

}

th {
    background-color: #4285F4;
}


.update {
    background-color: #B6D7A8;
    border: 0.1em solid black;
    padding-right: 1em;
    padding-left: 1em;
}

.debug {
    color: red;
}